
<html lang="en">
<head>
    <title>Tambah Catatan Medis</title>
</head>
<body>
    <h1>Tambah Catatan Medis</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Catatan Tindak Lanjut -->
        <label for="status_kesehatan">Status Kesehatan:</label>
        <select name="status_kesehatan" required>
            <option value="sehat">Sehat</option>
            <option value="sakit">Sakit</option>
        </select><br><br>

        <!-- Catatan Tindak Lanjut -->
        <label for="Catatan Tindak Lanjut">Catatan Tindak Lanjut:</label>
        <input type="text" name="catatan_tindak_lanjut"><br><br>

        <!-- Diagnosa Baru -->
        <label for="Diagnosa Baru">Diagnosa Baru:</label>
        <input type="text" name="diagnosa_baru" required><br><br>

        <!-- Pengobatan Baru -->
        <label for="Pengobatan Baru">Pengobatan Baru:</label>
        <input type="text" name="pengobatan_baru" required><br><br>


        <button type="submit">Simpan</button>
    </form>

    <a href="{% url 'list_catatan_medis' %}">[batal]</a>
</body>
</html>