
<html lang="en">
<head>
    <title>Edit Frekuensi</title>
</head>
<body>
    <h1>Edit Frekuensi</h1>

    <form method="post">
        {% csrf_token %}
        <!-- Tanggal Pemeriksaan Selanjutnya -->
        <label for="frekuensi_pemeriksaan_rutin">Frekuensi Pemeriksaan Rutin:</label>
        <input type="text" name="frekuensi_pemeriksaan_rutin" required><br><br>

        <button type="submit">Simpan</button>
    </form>

    <a href="{% url 'jadwalpemeriksaan_list' %}">[batal]</a>
</body>
</html>