
<html lang="en">
<head>
    <title>Edit Jadwal</title>
</head>
<body>
    <h1>Edit Jadwal</h1>

    <form method="post">
        {% csrf_token %}
        <!-- Tanggal Pemeriksaan Selanjutnya -->
        <label for="tanggal_pemeriksaan_selanjutnya">Tanggal Pemeriksaan Selanjutnya:</label>
        <input type="date" name="tanggal_pemeriksaan_selanjutnya" required><br><br>

        <button type="submit">Simpan</button>
    </form>

    <a href="{% url 'jadwalpemeriksaan_list' %}">[batal]</a>
</body>
</html>